# Welcome to the ALDOT Notebook
This is a demo notebook for ALDOT.

_Abandon all hope, ye who enter here_

In [2]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

## Get the data
Read river data into a Pandas dataframe

In [8]:
df = pd.read_csv("../DATA/longest_rivers.csv", names=['River', 'Length'])
df

               River  Length
0               Nile    4132
1       Amazon River    3976
2            Yangtze    3917
3  Mississippi River    3902
4      Yenisei River    3445
5       Yellow River    3395
6           Ob River    3364
7    Río de la Plata    3030
8        Congo River    2922
9         Amur River    2763

In [9]:
df.Length.mean()

3484.6